   drawio.localhost \
   gitlab.localhost \ 
navidrome.localhost \ 
 pics-web.localhost \
    taiga.localhost \
{
    @drawio-matcher { 
        header Host drawio.localhost 
    }
	@service-matcher { 
        header_regexp subdomain Host ([^\.]+)\.localhost 
    } 

    reverse_proxy @drawio-matcher drawio:8080
    reverse_proxy @service-matcher {re.subdomain.1}:80
}
