*.localhost {
	log {
		output stdout
		format console
		level INFO
	}
    @drawio-matcher {
        header Host drawio.localhost
    }
    reverse_proxy @drawio-matcher drawio:8080
	@service-matcher {
		header_regexp subdomain Host ([^\.]+)\.localhost
	}
    reverse_proxy @service-matcher {re.subdomain.1}:80
}
